@model IEnumerable<DuAnTotNghiep.Models.SanPham>

@{
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.455226329226!2d106.62735611432105!3d10.85293909226965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529b6a2b351a5%3A0x11690ada8c36f9bc!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIFRo4buxYyBow6BuaCBGUFQgUG9seXRlY2huaWMgVFAuSENNIChDUzMp!5e0!3m2!1svi!2s!4v1636991212390!5m2!1svi!2s" width="1110" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<h3>VỀ CHÚNG TÔI</h3>
<div class="media">
    <img class="align-self-center mr-3" src="~/Images/ve_chung_toi.jpg" alt="Generic placeholder image" style="width: 200px;">
    <div class="media-body">
        <h5>Sở hữu chuỗi cửa hàng KingShoes - là nhà bán lẻ hàng đầu, chuyên cung cấp các sản phẩm chính hãng tại thị trường Việt Nam. </h5>
        <h5 class="mb-0">Năm 2021, KingShoes được thành lập, từng bước trở thành địa chỉ đáng tin cậy của người tiêu dùng Việt. Với khẩu hiệu “Nếu những gì chúng tôi không có, nghĩa là bạn không cần”, chúng tôi đã, đang và sẽ tiếp tục nỗ lực đem đến các sản phẩm đa dạng, phong phú đi kèm mức giá tốt nhất phục vụ nhu cầu của quý khách hàng. </h5>
    </div>
</div>
<br>
<h5>KingShoes cung cấp cách thức lấy hàng đơn giản, giá rẻ. Có tọa lạc tại Công viên phần mềm Quang Trung.</h5>
<h5>Là KingShoes, nguyên thùng, nguyên tép nhập trực tiếp từ nước ngoài với giá cạnh tranh nhất trên thị trường và là đơn vị bán hàng cắt kiện chất lượng tốt nhất.</h5>
<h5>Chúng tôi sẵn sàng tư vấn cho bạn cách thức mua hàng, chất lượng tốt nếu bạn là người mới.</h5>
<br />
<h5>Với phương châm mong muốn mang đến cho khách hàng những đôi giày đệp, tốt nhất với mức giá hợp lý, KingShoes luôn cố gắng để giúp cho các tín đồ yêu giày có thể mua giày Chuẩn Replica™ đảm bảo hài lòng về chất lượng</h5>
<br />
<div>
    <h3>CỬA HÀNG TRỰC TUYẾN</h3>
    <div class="chunhat row">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/Images/logo_lazada.jpg" style="margin-left: 135px;" />
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/Images/logo_sendo.jpg" style="margin-left: 24px;" />
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/Images/logo_shoppe.png" style="margin-left: 24px;" />
        </a>
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/Images/logo_tiki.jpg" style="margin-left: 24px;" />
        </a>
    </div>
</div>
<br />
<div>
    <h3>LÝ DO KHÁCH HÀNG NÊN CHỌN</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline">
                    <div href="#" class="timeline">
                        <div class="timeline-icon"><i class="fas fa-hand-holding-usd"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Giá tốt nhất thị trường</h3>
                            <p class="description">
                                Vì có thị trường rộng lớn nên chúng tôi sẽ đưa ra mức giá tốt nhất thị trường cho sản phẩm của bạn. Bạn không cần lo ngại về việc tăng giá vì chúng tôi luôn luôn bán cùng giá với thị trường.
                            </p>
                        </div>
                    </div>
                    <div href="#" class="timeline">
                        <div class="timeline-icon"><i class="fas fa-sync-alt"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Sản phẩm được 1 đổi 1</h3>
                            <p class="description">
                                Chính sách bảo hàng 1 đổi 1 trong vòng 3 ngày là chính sách vô cùng đặc biệt cho khách hàng. Khi được hưởng chính sách này khách hàng sẽ được đổi mới ngày một sản phẩm tương tự cùng loại.
                            </p>
                        </div>
                    </div>
                    <div href="#" class="timeline">
                        <div class="timeline-icon"><i class="fas fa-user-shield"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Luôn luôn bảo mật thông tin khách hàng</h3>
                            <p class="description">
                                Cửa hàng của chúng tôi không bán, chia sẽ hay trao đổi thông tin cá nhân của khách hàng thu nhập trên trang web cho một bên thứ ba nào khác. Thông tin cá nhân thu thập được sẽ chỉ được sử dụng trong nội bộ cửa hàng.
                            </p>
                        </div>
                    </div>
                    <div href="#" class="timeline">
                        <div class="timeline-icon"><i class="fas fa-truck"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Đặt hàng thả ga, giao trong 1 giờ</h3>
                            <p class="description">
                                Hỗ trợ mùa dịch, chúng tôi mang đến chương trình "Mua hàng Online" dành cho quý khách hàng. Đảm bảo sản phẩm chất lượng, đầy đủ bảo hàng như mua tại cửa hàng. Miễn phí khi ship trong nội thành.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<footer class="section footer-classic context-dark bg-image" style="background: #2d3246;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5">
                <br />
                <div class="pr-xl-4">
                    <a class="brand" href="index.html"><img class="brand-logo-light" src="~/Images/KINGSHOES01.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                    <p>
                        <h5>Chất lượng</h5>
                        <h6>King Shoes đảm bảo chất lượng cho tất cả sản phẩm bán tại cửa hàng bằng chính sách bản hàng vĩnh viễn.</h6>
                        <h5>Phục vụ</h5>
                        <h6>Kinh Shoes cam kết chất lượng phục vụ tốt nhất, chuyên nghiệp nhất cho mọi khách hàng bằng chính sách hoàn tiền và tặng quà nếu nhân viên phục vụ quý khách không chu đáo.</h6>
                    </p>
                    <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>King Shops</span><span>. </span><span>All Rights Reserved.</span></p>
                </div>
            </div>
            <div class="col-md-4">
                <br />
                <h5>Liên hệ</h5>
                <dl class="contact-list">
                    <dt>Địa chỉ:</dt>
                    <dd>Công viên phần mềm Quang Trung</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">kingshoes1309@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>Số điện thoại:</dt>
                    <dd>
                        <a href="tel:#">0395.193.386</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3">
                <br />
                <h5>Links</h5>
                <ul class="nav-list">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>